body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #008080; 
  color: white;
  text-align: center;
  padding: 20px;
}

header h1 {
  margin: 0;
  font-family: 'Pacifico', cursive;
}

main {
  max-width: 800px;
  margin: 20px auto;
  padding: 0 20px;
}

section h2 {
  font-family: 'Arial Rounded MT Bold';
}

ul {
  list-style-type: none;
  /* padding: 0; */
}

li {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.menu-item {
  font-size: 16px;
}

.menu-price {
  font-size: 16px;
  color: #333;
}

footer {
  background-color: #008080; /* Teal */
  color: white;
  text-align: center;
  padding: 20px;
}

.list-header {

  font-family: cursive;
  
}

.list-description {
  font-family: auto;
  font-size: medium;
  font-style: italic;
  color: #008080;
}

